nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: var(--white);
  align-items: baseline;
  align-content: flex-start;
  white-space: nowrap;
  box-shadow: 0px -8px 10px black;
  z-index: 100;
}

/* NavLink active */
.active {
  color: var(--nav-link-activ);
  transition: color 0.5s linear;
}

/* Burgermenu (menu open = true) */
.navActive {
  bottom: 0;
}

/* Burgermenu (menu open = true) */
.menuActive {
  display: flex !important;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  order: 3;
  font-size: 20px;
  margin-top: 10px;
}

/* Burgermenu (menu open = true) */
.menuActive a {
  margin: 10px 0;
}

nav h1 a {
  color: var(--darkgrey);
}

nav h1 a:hover {
  animation: h1ani 100ms linear;
}

@keyframes h1ani {
  0%,
  100% {
  }
  50% {
    margin-left: 15px;
  }
}

nav div {
  display: flex;
  align-items: center;
}

nav div:last-child {
  display: none;
}

nav div a {
  color: var(--darkgrey);
  margin: 0 10px;
}

nav div a:hover {
  color: var(--nav-link-hover);
}

nav div p {
  margin: 0 10px;
  font-size: 15px;
}

.rotate45 {
  transform: rotate(45deg);
  margin: -10px 0 8px !important;
}

.rotateM45 {
  transform: rotate(-45deg);
  margin: -10px 0 8px !important;
}

@media only screen and (max-width: 812px) {
  nav > div:first-of-type {
    display: none;
  }
  nav div:last-child {
    cursor: pointer;
    display: block;
  }
  nav div:last-child div {
    width: 20px;
    height: 2px;
    margin: 4px 0;
    background-color: black;
  }
}
