#blog > div {
  text-align: center;
  padding: 5px;
  width: 20%;
  background-color: #eae7e7;
  box-shadow: 0px 0px 10px -6px black;
  border-radius: 15px;
  margin: 20px;
}

#blog img {
  width: 200px;
  max-height: 280px;
}

#blog article {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0px 0px 10px -6px black;
  border-radius: 15px;
  opacity: 0.8;
}

#blog article div {
  display: flex;
}

#blog article:hover {
  opacity: 1;
}

#blog article h2 {
  padding-bottom: 10px;
}

#blog article p {
  padding-left: 10px;
  margin: auto;
}

#blog article h2 span {
  color: var(--grey);
  font-size: 12px;
}

@media only screen and (max-width: 576px) {
  #blog article div {
    flex-direction: column;
  }
  #blog img {
    width: 100%;
    height: auto;
  }
  #blog article p {
    padding: 10px 0 0 0;
  }
}
