* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --nav-link-activ: rgb(255, 204, 0);
  --white: #fff;
  --grey: #848484;
  --darkgrey: #323a45;
}

main {
  padding: 20px;
  margin-top: 85px;
}
